.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  position: absolute; /* Posicionamos la navbar de forma absoluta */
  top: 0;
  margin-right: 900px;
  width: 100%; /* Hacemos que ocupe todo el ancho */
  z-index: 10; /* Aseguramos que esté sobre el fondo */
  color: white;
}


.navMenu {
  margin: 20px;
  margin-right: 600px;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
  white-space: nowrap;
}

.navbar li:hover {
  color: #a3e093;
  cursor: pointer;
}



.navConnect:hover {
  transform: scale(1.05);
}

