.pageContainer :global(html),
.pageContainer :global(body),
.pageContainer :global(#root) {
    height: 100%; /* Asegúrate de que el body ocupe toda la altura */
    margin: 0;    /* Elimina márgenes por defecto */
    display: flex; /* Usar Flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background-color: #bbeaff;
}

.loginButton {
    display: flex;
    padding: 1.2vh 1.4vw;
    background-color: #8a3c0f;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border: 1px solid #ccc;
    border-radius: 7px;
    margin: 5vh;
    font-size: min(2.5vw, 16px);
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.logoutButton {
    background-color: #277e0b;
    border: none;
    padding: 10px 20px;
    font-size: min(2.5vw, 16px);
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.welcomeText {
    color: #277e0b;
    font-weight: 600;
    font-size: min(2.5vw, 16px);
}

.introductionText {
    color: #9e5b2b;
    font-weight: 600;
}

.welcomeDiv {
    margin: 0px;
    padding: 15px 20px;
    font-size: 16px; 
    cursor: pointer;
    position: absolute;
    top: 75%;          /* Centra verticalmente */
    left: 50%;         /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para centrar completamente */
    z-index: 10; 
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
    max-width: 24vw;
    text-align: center;
}

.introductionDiv {
    margin: 0px;
    padding: 15px 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;          /* Centra verticalmente */
    left: 50%;         /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para centrar completamente */
    z-index: 10; 
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.loginContainer {
    top: 50%;          /* Centra verticalmente */
    left: 50%;         /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para centrar completamente */
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    text-align: center;
}

.loginIcon {
    margin-bottom: 1vh; /* Space between the logo and button, proportional to viewport height */
    width: min(45vh, 512px) /* Width proportional to viewport width */
}

.buttonIcon {
    width: 3vw; /* Width proportional to viewport width */
    height: 3vw; /* Height proportional to viewport width */
    max-width: 40px; /* Optional: limit maximum size */
    max-height: 40px; /* Optional: limit maximum size */
    margin-right: 1vw; /* Space between the image and text */
}

.buttonGroup {
    position: absolute;
    right: 10vw; /* Adjust as needed */
    top: 50%; /* Position it vertically in the middle */
    transform: translateY(-50%); /* Center it exactly */
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align buttons to the right */
}

/* Switch to vertical layout when width is less than height */
@media screen and (max-width: 100vh) {
    .buttonGroup {
        position: absolute;
        left: 50%; /* Adjust as needed */
        right: auto; /* Reset right position */
        top: 55%; /* Position it vertically in the middle */
        display: flex;
        flex-direction: row;
        align-items: flex-end; /* Align buttons to the right */
        transform: translate(-50%, -50%); /* Center it exactly */
    }
    .welcomeDiv {
        margin: 0px;
        padding: 15px 20px;
        font-size: 16px; 
        cursor: pointer;
        position: absolute;
        top: 85%;          /* Centra verticalmente */
        left: 50%;         /* Centra horizontalmente */
        transform: translate(-50%, -50%); /* Ajusta para centrar completamente */
        z-index: 10; 
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        max-width: 40vh;
    }
}

.circularButton {
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    border: 0.3vw solid #4CAF50; /* Adjust border color as needed */
    background-color: #fff;
    cursor: pointer;
    font-size: 1.4vw;
    text-align: center;
    line-height: 8vw;
    transition: background-color 0.3s;
    position: relative;
    margin-top: 2vh; /* Space between buttons */
    background-size: cover; /* Ensures the image covers the button */
    background-position: center; /* Centers the image */
}

/* Switch to vertical layout when width is less than height */
@media screen and (max-width: 100vh) {
    .circularButton {
        width: 25vw;
        height: 25vw;
        border-radius: 50%;
        border: 0.3vw solid #4CAF50; /* Adjust border color as needed */
        background-color: #fff;
        cursor: pointer;
        font-size: 1.4vw;
        text-align: center;
        line-height: 8vw;
        transition: background-color 0.3s;
        position: relative;
        margin-left: 1vw; /* Space between buttons */
        margin-right: 1vw;  
        background-size: cover; /* Ensures the image covers the button */
        background-position: center; /* Centers the image */
    }
}

.button1 {
    background-image: url('/images/buttons/deforestation.png'); /* Add your first image URL */
}

.button2 {
    background-image: url('/images/buttons/biodiversity.png'); /* Add your second image URL */
}

.button3 {
    background-image: url('/images/buttons/erosion.png'); /* Add your third image URL */
}

.circularButton:hover::after {
    content: attr(data-hover);
    /* color: #1f1a17; */
    color: white;
    text-shadow: black 0px 0px 10px;
    /* mix-blend-mode: ; */
    font-size: min(2.5vw, 24px);
}

.circularButton:hover {
    background-color: #4CAF50;
    color: white;
}

/* Stagger the horizontal positions */
.circularButton:nth-child(odd) {
    right: 0vw; /* Adjust as needed */
}

.circularButton:nth-child(even) {
    left: -6vw; /* Adjust as needed */
}

@media screen and (max-width: 100vh) {
    /* Stagger the horizontal positions */
    .circularButton:nth-child(odd) {
        right: 0vw; /* Adjust as needed */
        bottom: 0vh; /* Adjust as needed */
    }

    .circularButton:nth-child(even) {
        left: 0vw; /* Adjust as needed */
        bottom: -10vh; /* Adjust as needed */
    }
}
