.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; /* Posicionamos la navbar de forma absoluta */
  top: 0vh;
  left: 0vh;
  width: 100%; /* Hacemos que ocupe todo el ancho */
  z-index: 10; /* Aseguramos que esté sobre el fondo */
  color: rgb(255, 255, 255);
  gap: 30vw;
  margin: 3vh 0vw;
}


.navMenu {
  margin: 2vw;
  margin-right: 60vw;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2vw;
  font-size: 20px;
  white-space: nowrap;
  font-weight: 500;
  color:#3f6e24;
}

.navbar li:hover {
  color: #ffffff;
  cursor: pointer;
}

.navQuiz:hover {
  transform: scale(1.05);
}

.backButton,
.resultsButton {
  margin: 0px 40px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #67a32e;
  background-color: #67a32e;
  transition: 0.5s;
}

.backButton:hover,
.resultsButton:hover {
  transform: scale(1.05);
}

/* Responsive styles */
@media (max-width: 100vh) {
  .backButton,
  .resultsButton {
    margin: 0px 20px;
    font-size: 11px;
  }
}