.navbar {
  display: flex;
  align-items: center;
  position: absolute; 
  top: 50px; 
  left: 50px; 
  z-index: 10; 
  color: rgb(255, 255, 255);
}

.backButton {
  margin: 0; 
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #579135;
  background-color: #579135;
  transition: 0.5s;
  padding: 10px 20px; 
}

.backButton:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #579135;
  background-color: #579135;
}
