.pageContainer {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.pageContainer :global(html),
.pageContainer :global(body),
.pageContainer :global(#root) {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}