/* CanvasView.module.css */
.pageContainer :global(html),
.pageContainer :global(body),
.pageContainer :global(#root) {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #bbeaff;
}

.canvasContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.canvas {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

.bioInfo {
  margin: 0px;
  padding: 15px 20px;
  cursor: pointer;
  position: absolute;
  bottom: 69%;          /* Centra verticalmente */
  left: 50%;         /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta para centrar completamente */
  z-index: 10; 
  background-color: rgba(255, 255, 255, 0.68);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  color:#377c0e;
  font-weight: 500;
  font-size: 15px;
  opacity: 1;
  transition: opacity 0.5s ease;
}